#main-action {
  text-align: center;
}

#carousel-container {
   text-align: center;
}

#pic-carousel {
  width: 90%;
  height: 200px;
  border: 2px solid #eee;
  border-radius: 20px;
  background-color: #feeeff;
  display: inline-block;
  margin-top: 60px;
}

/*---------------------------------Movies view--------------------------------*/
h4 {
  word-wrap:break-word;
  text-align: center;
}

.container {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 0 10px;
}

.movie_pix {
  opacity: 1;
  display: block;
  width: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  text-align: center;
}

.overlayPix {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: red;
  text-align: center;

}

.container:hover .movie_pix {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}
.container:hover .overlayPix {
  opacity: 1;
}
.text {
  color: #ff0000;
  font-size: 48px;
  padding: 16px 32px;
}
/*----------------------------------------------------------------------------*/

/* ---------------------- About_us--------------------------------------------*/

.our_pics {

  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrap_text {
  font-size: 20px;
  text-align: left;
}

.about {
  width: 950px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  animation: fadeIn 6.0s ease forwards;
}
