.stylePhoto {
  position: relative;
  display: inline;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid;
  margin: 30px 25px 8px 25px;
  transition: 0.5s;
}

.stylePhoto:hover {
  webkit-transform: scale(1.3);
  ms-transform: scale(1.3);
  transform: scale(1.5);
  transition: 0.5s;
}

.stylePhoto {
  cursor: pointer;
}
body {
  background-color: silver;
}

#userList div {
  width: 250px;
  display: inline-block;
  margin: 8px 0px 8px 0px;
}
