/* Navigation */

#nav-menu{
  text-align: center;
}
.nav-main ul{
  list-style-type: none;
}

#nav-menu li a:hover {
  color: black;
  transition: 0.5s;
}

.nav-main li {
  font-size: 1.4em;
  margin-right: .6em;
  font-size: 1 em;
  padding: 1em 1.5em;
}
