/*Navigation*/

.nav-main {
  padding-bottom: 30px;
}

/*.nav-main ul {
  list-style-type: none;
  display: in
}

.nav-main li {
  font-family: 'Lobster Two', cursive;
  font-size: 1.4em;
  margin-right: .6em;
  font-size: 1 em;
  padding: 1em 1.5em;
}*/
